Repository SmartPowerMeter/Smart_Power_Meter: changes, and which Jenkins stages are due for each by the changed paths.
All: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

Nginx:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && docker compose restart webserver'
            """
          }
        }
      

Build and Deploy second_site:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/second_site && docker build -t smart_power_meter-second_site . && docker compose up -d second_site'
  ...

Build and Deploy SPM_MQTT:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM_MQTT && docker build -t smart_power_meter-mqtt_broker . && docker compose up -d mqtt_broker'
            """
  ...

Build and Deploy SPM.Api:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM.Api/SPM.Api && docker build -t smart_power_meter-web . && docker compose up -d web'
            """
          }
  ...

Remove Dangling Images:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'docker rmi \$(docker images -f "dangling=true" -q)'
            """
          }
        }
      

changed relay text
  Software/showcase_webpage/index.html
Due: none

changed ssr text
  Software/showcase_webpage/index.html
Due: none

added white style for last card
  Software/showcase_webpage/index.html
Due: none

added cssr link
  Software/showcase_webpage/index.html
Due: none

fixed team member photo cards
  Software/showcase_webpage/index.css
Due: none

added changes of texts and component order
  Software/showcase_webpage/index.html
Due: none

Update index.html
  Software/showcase_webpage/index.html
Due: none

update giorgi image and text
  Software/showcase_webpage/images/giorgi_Grad.jpg
  Software/showcase_webpage/index.css
  Software/showcase_webpage/index.html
Due: none

modify smartpowermeter.com.ge.conf
  Software/Nginx/conf.d/smartpowermeter.com.ge.conf
Due: Nginx

signin updates
  Software/second_site/src/app/auth/sign-in/sign-in.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

tried sign-up responsivness
  Software/second_site/src/app/auth/sign-up/sign-up.component.html
  Software/second_site/src/app/auth/sign-up/sign-up.component.scss
  Software/second_site/src/app/auth/sign-up/sign-up.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

sign -in text
  Software/second_site/src/app/auth/sign-up/sign-up.component.html
Due: Build and Deploy second_site, Remove Dangling Images

dashboard responsive
  Software/second_site/src/app/features/dashboard/dashboard.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

removed remember me
  Software/second_site/src/app/auth/sign-in/sign-in.component.html
  Software/second_site/src/app/auth/sign-in/sign-in.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

removed bell icon
  Software/second_site/src/app/layout/topbar/notifications/notifications.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added sign in text
  Software/second_site/src/app/auth/sign-in/sign-in.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added costs
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

docker mailserver - not yet functional
  docker-compose.yml
Due: none

remove docker mailserver
  docker-compose.yml
Due: none

added users tab
  Software/second_site/src/app/app-routing.module.ts
  Software/second_site/src/app/app.module.ts
  Software/second_site/src/app/features/users/users.component.html
  Software/second_site/src/app/features/users/users.component.scss
  Software/second_site/src/app/features/users/users.component.spec.ts
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/layout/layout.module.ts
  Software/second_site/src/app/layout/sidebar/sidebar.component.html
Due: Build and Deploy second_site, Remove Dangling Images

add password change and recovery
  Software/SPM.Api/SPM.Api/Controllers/AccountController.cs
  Software/SPM.Api/SPM.Api/Core/Constants/ClaimsConstants.cs
  Software/SPM.Api/SPM.Api/Core/Domain/Enums/UserType.cs
  Software/SPM.Api/SPM.Api/Core/Domain/Models/User.cs
  Software/SPM.Api/SPM.Api/Core/WorkContexts/Models/LoggedInUser.cs
  Software/SPM.Api/SPM.Api/Services/Account/AccountService.cs
  Software/SPM.Api/SPM.Api/Services/Account/IAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Email/EmailService.cs
  Software/SPM.Api/SPM.Api/Services/Email/IEmailService.cs
  Software/SPM.Api/SPM.Api/Services/Extensions/ServiceCollectionExtensions.cs
  Software/SPM.Api/SPM.Api/Services/Jwt/JwtService.cs
  Software/SPM.Api/SPM.Api/appsettings.json
Due: Build and Deploy SPM.Api, Remove Dangling Images

added password change functionality
  Software/second_site/src/app/features/settings/settings-security/settings-security.component.html
  Software/second_site/src/app/features/settings/settings-security/settings-security.component.ts
  Software/second_site/src/app/features/settings/settings.component.html
  Software/second_site/src/app/features/settings/settings.component.ts
  Software/second_site/src/app/features/settings/settings.service.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

chnaged sign up text
  Software/second_site/src/app/auth/sign-up/sign-up.component.html
Due: Build and Deploy second_site, Remove Dangling Images

updated recovery password page
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.html
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.scss
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

changed recover pass
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.css
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.html
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove unnecessary file
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.css
Due: Build and Deploy second_site, Remove Dangling Images

remove log
  Software/second_site/src/app/auth/sign-in/sign-in.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add password recovery logic
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.html
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

fixed dashboard dropdown
  Software/second_site/src/app/features/dashboard/dashboard.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

fixed reports dropdowns
  Software/second_site/src/app/features/reports/reports.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

added modifications for users
  Software/second_site/src/app/features/users/users.component.html
  Software/second_site/src/app/features/users/users.component.scss
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/layout/sidebar/sidebar.component.html
  Software/second_site/src/app/layout/sidebar/sidebar.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add energy consumption retrieval for different timeframe
  Software/SPM.Api/SPM.Api/Controllers/MeasurementController.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/IMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/MeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/Models/GetEnergyConsumptionResponse.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

USERS
  Software/second_site/src/app/layout/sidebar/sidebar.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added consumption energy modifications
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.html
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.scss
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.ts
  Software/second_site/src/app/features/dashboard/yourcards/yourcards.component.html
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

Update funds-overview.component.ts
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add Test/uesp_unique.ino
  Software/Arduino/Test/esp_unique/esp_unique.ino
Due: none

WiFiManager+SIM800
  Software/Arduino/ESP_SPM/.vscode/settings.json
  Software/Arduino/ESP_SPM/include/SIM800L_SPM.h
  Software/Arduino/ESP_SPM/include/WiFiManager_SPM.h
  Software/Arduino/ESP_SPM/include/interrupts_SPM.h
  Software/Arduino/ESP_SPM/include/utils.h
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/SIM800L_SPM.cpp
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/utils.cpp
Due: none

refactor customer services and add admin services
  Software/SPM.Api/SPM.Api/Controllers/AccountController.cs
  Software/SPM.Api/SPM.Api/Controllers/AdminAccountController.cs
  Software/SPM.Api/SPM.Api/Controllers/AdminMeasurementController.cs
  Software/SPM.Api/SPM.Api/Controllers/AdminRelayController.cs
  Software/SPM.Api/SPM.Api/Controllers/CustomerMeasurementController.cs
  Software/SPM.Api/SPM.Api/Controllers/CustomerRelayController.cs
  Software/SPM.Api/SPM.Api/Core/Domain/Models/User.cs
  Software/SPM.Api/SPM.Api/Core/Extensions/HttpContextExtensions.cs
  Software/SPM.Api/SPM.Api/Data/DbInitializer.cs
  Software/SPM.Api/SPM.Api/Data/Extensions/MigrationExtensions.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230528120039_AddAdminRelayEnabledToUser.Designer.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230528120039_AddAdminRelayEnabledToUser.cs
  Software/SPM.Api/SPM.Api/Policies/AdminUserPolicyProvider.cs
  Software/SPM.Api/SPM.Api/Program.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Account/AdminAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Account/IAdminAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Account/Models/GetUsersListItem.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Measurement/AdminMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Measurement/IAdminMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Relay/AdminRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Relay/IAdminRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/CustomerAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/ICustomerAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/Models/GetUserDataResponse.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/Models/LoginUserRequest.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/Models/LoginUserResponse.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/Models/RegisterUserRequest.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Measurement/CustomerMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Measurement/ICustomerMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Relay/CustomerRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Relay/ICustomerRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Extensions/ServiceCollectionExtensions.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/IInfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/InfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/IMQTTService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/MeasurementService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

remove excess Authorize attributes
  Software/SPM.Api/SPM.Api/Controllers/AdminMeasurementController.cs
  Software/SPM.Api/SPM.Api/Controllers/AdminRelayController.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

Path conditions:
  Nginx: any of: Software/Nginx/**
  Build and Deploy second_site: any of: Software/second_site/**
  Build and Deploy SPM_MQTT: any of: Software/SPM_MQTT/**
  Build and Deploy SPM.Api: any of: Software/SPM.Api/**
  Remove Dangling Images: ((any of: Software/second_site/**) or (any of: Software/SPM_MQTT/**)) or (any of: Software/SPM.Api/**)
