Repository SmartPowerMeter/Smart_Power_Meter: changes, and which Jenkins stages are due for each by the changed paths.
All: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

Jenkinsfile:

pipeline {

  agent {label "main"}

  options {
    buildDiscarder logRotator(daysToKeepStr: '10')
    disableConcurrentBuilds()
    timeout(time: 5, unit: 'HOURS')
  }

  stages {
    stage('GitHub Sync') {
      sshagent(credentials : ['ssh_id']) {
        sh """
        ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && git pull'
        """
      }  
      // steps {
      //   sh '''
      //     echo "git --git-dir=/home/projects/Smart_Power_Meter/.git --work-tree=/home/projects/Smart_Power_Meter/ pull" > /home/pipes/spm_pipe
      //   '''
      // }
    }
    stage('Nginx') {
      when {
        branch "main"
        changeset "Software/Nginx/**"
      }
      steps {
        sh """echo "docker compose -f /home/projects/Smart_Power_Meter/docker-compose.yml restart webserver" > /home/pipes/spm_pipe"""
      }
    }
    stage('Build and Deploy second_site') {
      when {
        branch "main"
        changeset "Software/second_site/**"
      }
      steps {
        sh """echo "docker build -t smart_power_meter-second_site /home/projects/Smart_Power_Meter/Software/second_site" > /home/pipes/spm_pipe"""
        sh """echo "docker compose -f /home/projects/Smart_Power_Meter/docker-compose.yml up -d second_site" > /home/pipes/spm_pipe"""
      }
    }
    stage('Build and Deploy SPM_MQTT') {
      when {
        branch "main"
        changeset "Software/SPM_MQTT/**"
      }
      steps {
        sh """echo "docker build -t smart_power_meter-mqtt_broker /home/projects/Smart_Power_Meter/Software/SPM_MQTT" > /home/pipes/spm_pipe"""
        sh """echo "docker compose -f /home/projects/Smart_Power_Meter/docker-compose.yml up -d mqtt_broker" > /home/pipes/spm_pipe"""
      }
    }
    stage('Build and Deploy SPM.Api') {
      when {
        branch "main"
        changeset "Software/SPM.Api/**"
      }
      steps {
        sh """echo "docker build -t smart_power_meter-web /home/projects/Smart_Power_Meter/Software/SPM.Api/SPM.Api" > /home/pipes/spm_pipe"""
        sh """echo "docker compose -f /home/projects/Smart_Power_Meter/docker-compose.yml up -d web" > /home/pipes/spm_pipe"""
      }
    }
    stage('Remove Dangling Images') {
      when {
        branch "main"
        anyOf {
          changeset "Software/second_site/**"
          changeset "Software/SPM_MQTT/**"
          changeset "Software/SPM.Api/**"
        }
      }
      steps {
        sh """echo '''docker rmi \$(docker images -f "dangling=true" -q)''' > /home/pipes/spm_pipe"""
      }
    }
  }
}
// echo "" > /home/pipes/spm_pipe

upate
  Jenkinsfile
Due: none

changes
  docker-compose.yml
Due: none

update Jenkinsfile
  Jenkinsfile
Due: none

remove test files
  Software/Nginx/conf.d/api.smartpowermeter.ge.conf
  Software/Nginx/conf.d/jenkins.smartpowermeter.ge.conf
  Software/SPM.Api/test_file_jenkins.txt
  Software/SPM_MQTT/test_file_jenkins.txt
  Software/second_site/test_file_for_jenkins.txt
Due: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

comment jenkins and agent in compose file
  docker-compose.yml
Due: none

added isConnected into interface
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

Added isConnected Logic
  Software/second_site/src/app/auth/sign-up/sign-up.component.html
  Software/second_site/src/app/auth/sign-up/sign-up.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove log
  Software/second_site/src/app/auth/sign-up/sign-up.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove unnecessary snippet
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

remove button
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

Created chart Container Template for Dashboard
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.scss
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added first 2 graphs
  Software/second_site/src/app/features/dashboard/dashboard.component.scss
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added charts on dashboard
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added html for charts
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

fixed texts
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

reduce code size
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add recent measurement endpoint and services
  Software/SPM.Api/SPM.Api/Controllers/MeasurementController.cs
  Software/SPM.Api/SPM.Api/Core/Domain/Enums/TimeType.cs
  Software/SPM.Api/SPM.Api/Data/Extensions/MigrationExtensions.cs
  Software/SPM.Api/SPM.Api/Program.cs
  Software/SPM.Api/SPM.Api/Services/Account/AccountService.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/IInfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/InfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/IMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/MeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/Models/GetRecentMeasurementRequest.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

add esp project
  Software/Arduino/ESP_SPM/.gitignore
  Software/Arduino/ESP_SPM/.vscode/extensions.json
  Software/Arduino/ESP_SPM/include/README
  Software/Arduino/ESP_SPM/lib/README
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/test/README
  Software/ESP_MQTT_Client/ESP_MQTT_Client.ino
Due: none

add esp project
  Software/ESP_MQTT_Client/ESP_MQTT_Client.ino
Due: none

remove log
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

changed service name
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

move reports menu tab up
  Software/second_site/src/app/layout/sidebar/sidebar.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added list
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added responsive text for modal
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added time options
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

move energy chart up
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added object for better service call
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added api service for recent data
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

added voltage graph
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

changed time formats
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

fixed time zones
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

fixed time bug
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add SD card and pzem files
  Software/Arduino/ESP_SPM/include/Hardware_SPM.h
  Software/Arduino/ESP_SPM/include/SD_SPM.h
  Software/Arduino/ESP_SPM/include/pzem_004t_SPM.h
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/pzem_004t_SPM.cpp
  Software/Arduino/Test/SIM800_mqtt_test_rand_client/SIM800_mqtt_test_rand_client.ino
Due: none

added all chart data
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added live values
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

refresh in 1 second
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

changed decimal points
  Software/second_site/src/app/features/dashboard/dashboard.component.html
Due: Build and Deploy second_site, Remove Dangling Images

add time module, add write to file
  Software/Arduino/ESP_SPM/include/SD_SPM.h
  Software/Arduino/ESP_SPM/include/time_SPM.h
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

add restart:always to jenkins
  docker-compose.yml
Due: none

added unsubscriptions
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images
