Repository SmartPowerMeter/Smart_Power_Meter: changes, and which Jenkins stages are due for each by the changed paths.
All: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

Nginx:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && docker compose restart webserver'
            """
          }
        }
      

Build and Deploy second_site:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/second_site && docker build -t smart_power_meter-second_site . && docker compose up -d second_site'
  ...

Build and Deploy SPM_MQTT:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM_MQTT && docker build -t smart_power_meter-mqtt_broker . && docker compose up -d mqtt_broker'
            """
  ...

Build and Deploy SPM.Api:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM.Api/SPM.Api && docker build -t smart_power_meter-web . && docker compose up -d web'
            """
          }
  ...

Remove Dangling Images:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'docker rmi \$(docker images -f "dangling=true" -q)'
            """
          }
        }
      

fix mqtt service
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

router link added on showdata
  Software/second_site/src/app/features/users/users.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added reports for admin
  Software/second_site/src/app/features/reports/reports.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

added GSM Support
  Software/Arduino/ESP_SPM/include/SIM800L_SPM.h
  Software/Arduino/ESP_SPM/include/interrupts_SPM.h
  Software/Arduino/ESP_SPM/include/pzem_004t_SPM.h
  Software/Arduino/ESP_SPM/src/SIM800L_SPM.cpp
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
  Software/Arduino/ESP_SPM/src/pzem_004t_SPM.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

fix admin relay state for seperate users
  Software/SPM.Api/SPM.Api/Services/Customer/Account/CustomerAccountService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

modify wifimanager
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
Due: none

remove incorrect text for power mode
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

Update CustomerAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/CustomerAccountService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

Update README.md
  README.md
Due: none

Path conditions:
  Nginx: any of: Software/Nginx/**
  Build and Deploy second_site: any of: Software/second_site/**
  Build and Deploy SPM_MQTT: any of: Software/SPM_MQTT/**
  Build and Deploy SPM.Api: any of: Software/SPM.Api/**
  Remove Dangling Images: ((any of: Software/second_site/**) or (any of: Software/SPM_MQTT/**)) or (any of: Software/SPM.Api/**)
