Repository SmartPowerMeter/Smart_Power_Meter: changes, and which Jenkins stages are due for each by the changed paths.
All: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

Jenkinsfile:

pipeline {

  agent {label "main"}

  options {
    buildDiscarder logRotator(daysToKeepStr: '10')
    disableConcurrentBuilds()
    timeout(time: 5, unit: 'HOURS')
  }

  stages {
    stage('GitHub Sync') {
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && git pull'
          """
        }
      }
    }
    stage('Nginx') {
      when {
        branch "main"
        changeset "Software/Nginx/**"
      }
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && docker compose restart webserver'
          """
        }
      }
    }
    stage('Build and Deploy second_site') {
      when {
        branch "main"
        changeset "Software/second_site/**"
      }
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/second_site && docker build -t smart_power_meter-second_site . && docker compose up -d second_site'
          """
        }
      }
    }
    stage('Build and Deploy SPM_MQTT') {
      when {
        branch "main"
        changeset "Software/SPM_MQTT/**"
      }
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM_MQTT && docker build -t smart_power_meter-mqtt_broker . && docker compose up -d mqtt_broker'
          """
        }
      }
    }
    stage('Build and Deploy SPM.Api') {
      when {
        branch "main"
        changeset "Software/SPM.Api/**"
      }
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM.Api/SPM.Api && docker build -t smart_power_meter-web . && docker compose up -d web'
          """
        }
      }
    }
    stage('Remove Dangling Images') {
      when {
        branch "main"
        anyOf {
          changeset "Software/second_site/**"
          changeset "Software/SPM_MQTT/**"
          changeset "Software/SPM.Api/**"
        }
      }
      steps{
        sshagent(credentials : ['ssh_id']) {
          sh """
          ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'docker rmi \$(docker images -f "dangling=true" -q)'
          """
        }
      }
    }
  }
}
// echo "" > /home/pipes/spm_pipe

avoid undefined errors
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add relay control
  Software/SPM.Api/SPM.Api/Controllers/MeasurementController.cs
  Software/SPM.Api/SPM.Api/Core/Domain/Models/User.cs
  Software/SPM.Api/SPM.Api/Data/Configurations/UserConfiguration.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230419183052_AddBucketAccessTokenToUser.Designer.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230419183052_AddBucketAccessTokenToUser.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230425181252_AddRelayEnabledToUser.Designer.cs
  Software/SPM.Api/SPM.Api/Data/Migrations/20230425181252_AddRelayEnabledToUser.cs
  Software/SPM.Api/SPM.Api/SPM.Api.csproj
  Software/SPM.Api/SPM.Api/Services/Account/AccountService.cs
  Software/SPM.Api/SPM.Api/Services/Extensions/ServiceCollectionExtensions.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/IInfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/InfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/Models/InfluxDbSettings.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/IMQTTService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
  Software/SPM.Api/SPM.Api/appsettings.json
Due: Build and Deploy SPM.Api, Remove Dangling Images

writing to SD
  Software/Arduino/ESP_SPM/include/SD_SPM.h
  Software/Arduino/ESP_SPM/include/interrupts_SPM.h
  Software/Arduino/ESP_SPM/include/pzem_004t_SPM.h
  Software/Arduino/ESP_SPM/include/time_SPM.h
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

add timestamp in mqtt message
  Software/SPM.Api/SPM.Api/appsettings.json
  Software/SPM_MQTT/MQTT.Broker/MQTT.Broker.csproj
  Software/SPM_MQTT/MQTT.Broker/Models/MeasurementData.cs
  Software/SPM_MQTT/MQTT.Broker/Program.cs
  Software/SPM_MQTT/MQTT.Broker/Services/InfluxDb/InfluxDbService.cs
  Software/SPM_MQTT/MQTT.Broker/Services/InfluxDb/InfluxDbSettings.cs
  Software/SPM_MQTT/MQTT.Broker/Services/SqlDb/DbService.cs
  Software/SPM_MQTT/MQTT.Broker/Services/SqlDb/IDbService.cs
  Software/SPM_MQTT/MQTT.Broker/Services/SqlDb/Models/UserData.cs
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
  Software/SPM_MQTT/MQTT.Broker/appsettings.json
Due: Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

handle SD reinsert
  Software/Arduino/ESP_SPM/include/SD_SPM.h
  Software/Arduino/ESP_SPM/include/interrupts_SPM.h
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

removed time zeros and avg on chart
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

fixed bar bug in reports
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove logs
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove log
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

modified chart on reports but cannot add range
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

add restart always to influxdb
  docker-compose.yml
Due: none

add relay on/off and timestamp
  Software/ESP_MQTT_Client/ESP_MQTT_Client.ino
Due: none

add GetRelayStatus method
  Software/SPM.Api/SPM.Api/Controllers/MeasurementController.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/IMQTTService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

limit resources
  docker-compose.yml
Due: none

save to SD
  Software/Arduino/ESP_SPM/.vscode/settings.json
  Software/Arduino/ESP_SPM/include/SD_SPM.h
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

added GetRelayStatus
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

reports slider fixed
  Software/second_site/src/app/features/reports/reports.component.html
  Software/second_site/src/app/features/reports/reports.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

fixed logout
  Software/second_site/src/app/shared/components/profile/profile.component.html
  Software/second_site/src/app/shared/components/profile/profile.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

add energy consumption endpoint
  Software/SPM.Api/SPM.Api/Controllers/MeasurementController.cs
  Software/SPM.Api/SPM.Api/Services/InfluxDb/InfluxDbService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/IMeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/MeasurementService.cs
  Software/SPM.Api/SPM.Api/Services/Measurements/Models/GetMonthlyEnergyConsumptionResponse.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

added dashboard button get logic
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

change giorgi.jpg
  Software/showcase_webpage/images/giorgi.jpg
  Software/showcase_webpage/index.css
  docker-compose.yml
Due: none

finish SD
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
  Software/ESP_MQTT_Client/ESP_MQTT_Client_shbutkhuzi_2.ino
Due: none

added set relay service
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

implement set relay on click
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

click update
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

little improvement of responsive
  Software/second_site/src/app/auth/sign-in/sign-in.component.html
  Software/second_site/src/app/auth/sign-in/sign-in.component.scss
Due: Build and Deploy second_site, Remove Dangling Images

add graylog
  Software/SPM_MQTT/MQTT.Broker/MQTT.Broker.csproj
  Software/SPM_MQTT/MQTT.Broker/Program.cs
  Software/SPM_MQTT/MQTT.Broker/appsettings.json
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

update
  Software/SPM.Api/SPM.Api/appsettings.json
  docker-compose.yml
Due: Build and Deploy SPM.Api, Remove Dangling Images

changed images
  Software/second_site/src/app/auth/recover-pass/recover-pass.component.html
  Software/second_site/src/app/auth/sign-in/sign-in.component.scss
  Software/second_site/src/app/auth/sign-up/sign-up.component.html
  Software/second_site/src/assets/images/auth/page_cover.jpg
Due: Build and Deploy second_site, Remove Dangling Images

added incorrect password text
  Software/second_site/src/app/auth/sign-in/sign-in.component.html
  Software/second_site/src/app/auth/sign-in/sign-in.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

remove alert
  Software/second_site/src/app/auth/sign-in/sign-in.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

Add files via upload
  Software/showcase_webpage/images/Irakli.jpg
Due: none

Update index.css
  Software/showcase_webpage/index.css
Due: none

added image quotes
  Software/showcase_webpage/index.css
Due: none

Delete Irakli.jpg
  Software/showcase_webpage/images/Irakli.jpg
Due: none

remove image
  Software/showcase_webpage/images/Irakli.jpg
Due: none

added image
  Software/showcase_webpage/images/Irakli.jpg
Due: none

added more responsive message action
  Software/second_site/src/app/auth/sign-in/sign-in.component.html
  Software/second_site/src/app/auth/sign-in/sign-in.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

added queries for responsive
  Software/second_site/src/app/auth/sign-in/sign-in.component.scss
Due: Build and Deploy second_site, Remove Dangling Images
