Repository SmartPowerMeter/Smart_Power_Meter: changes, and which Jenkins stages are due for each by the changed paths.
All: Nginx, Build and Deploy second_site, Build and Deploy SPM_MQTT, Build and Deploy SPM.Api, Remove Dangling Images

Nginx:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter && docker compose restart webserver'
            """
          }
        }
      

Build and Deploy second_site:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/second_site && docker build -t smart_power_meter-second_site . && docker compose up -d second_site'
  ...

Build and Deploy SPM_MQTT:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM_MQTT && docker build -t smart_power_meter-mqtt_broker . && docker compose up -d mqtt_broker'
            """
  ...

Build and Deploy SPM.Api:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'cd /home/projects/Smart_Power_Meter/Software/SPM.Api/SPM.Api && docker build -t smart_power_meter-web . && docker compose up -d web'
            """
          }
  ...

Remove Dangling Images:
        steps{
          sshagent(credentials : ['ssh_id']) {
            sh """
            ssh -o StrictHostKeyChecking=no root@smartpowermeter.ge 'docker rmi \$(docker images -f "dangling=true" -q)'
            """
          }
        }
      

add client disconnect event handler
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

update logging
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

relay for customer
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

add saving relay state
  Software/ESP_MQTT_Client/ESP_MQTT_Client.ino
Due: none

update default admin user email
  Software/SPM.Api/SPM.Api/Data/DbInitializer.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

added some logic for users
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.html
  Software/second_site/src/app/features/users/users.component.html
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/layout/sidebar/sidebar.component.html
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

added admin user button logic
  Software/second_site/src/app/features/users/users.component.html
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

changes for table
  Software/second_site/src/app/features/users/users.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added improvment for toggle logic
  Software/second_site/src/app/features/users/users.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

MQTT over WiFi
  Software/Arduino/ESP_SPM/include/SIM800L_SPM.h
  Software/Arduino/ESP_SPM/include/WiFiManager_SPM.h
  Software/Arduino/ESP_SPM/include/mqtt_SPM.h
  Software/Arduino/ESP_SPM/include/pzem_004t_SPM.h
  Software/Arduino/ESP_SPM/include/time_SPM.h
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/SIM800L_SPM.cpp
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
  Software/Arduino/ESP_SPM/src/pzem_004t_SPM.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

logic must be fixed for admin panel toggle
  Software/second_site/src/app/features/users/users.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

LED on core 0
  Software/Arduino/ESP_SPM/include/LED_SPM.h
  Software/Arduino/ESP_SPM/include/interrupts_SPM.h
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/LED_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

update GetRelayStatus
  Software/SPM.Api/SPM.Api/Controllers/AdminRelayController.cs
  Software/SPM.Api/SPM.Api/Controllers/CustomerRelayController.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Relay/AdminRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Admin/Relay/IAdminRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Relay/CustomerRelayService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Relay/ICustomerRelayService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/IMQTTService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/Models/GetRelayStatusResponse.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

update mqtt service
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

fixed relay logics
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

LED modification
  Software/Arduino/ESP_SPM/include/LED_SPM.h
  Software/Arduino/ESP_SPM/include/mqtt_SPM.h
  Software/Arduino/ESP_SPM/src/LED_SPM.cpp
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
  Software/Arduino/ESP_SPM/src/interrupts_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
Due: none

add RTC time save and retrieval
  Software/Arduino/ESP_SPM/include/LED_SPM.h
  Software/Arduino/ESP_SPM/include/mqtt_SPM.h
  Software/Arduino/ESP_SPM/include/rtc_SPM.h
  Software/Arduino/ESP_SPM/include/time_SPM.h
  Software/Arduino/ESP_SPM/platformio.ini
  Software/Arduino/ESP_SPM/src/LED_SPM.cpp
  Software/Arduino/ESP_SPM/src/SD_SPM.cpp
  Software/Arduino/ESP_SPM/src/SIM800L_SPM.cpp
  Software/Arduino/ESP_SPM/src/WiFiManager_SPM.cpp
  Software/Arduino/ESP_SPM/src/main.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
  Software/Arduino/ESP_SPM/src/rtc_SPM.cpp
  Software/Arduino/ESP_SPM/src/time_SPM.cpp
Due: none

update worker
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

remove temporal logging
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

round measurements to two decimal points
  Software/SPM.Api/SPM.Api/Core/Extensions/NumberExtensions.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

SIM800L working
  Software/Arduino/ESP_SPM/include/SIM800L_SPM.h
  Software/Arduino/ESP_SPM/include/mqtt_SPM.h
  Software/Arduino/ESP_SPM/src/SIM800L_SPM.cpp
  Software/Arduino/ESP_SPM/src/mqtt_SPM.cpp
Due: none

fix graylog
  Software/SPM_MQTT/MQTT.Broker/appsettings.json
  docker-compose.yml
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

add serilog and graylog to api
  Software/SPM.Api/SPM.Api/Program.cs
  Software/SPM.Api/SPM.Api/SPM.Api.csproj
  Software/SPM.Api/SPM.Api/appsettings.json
Due: Build and Deploy SPM.Api, Remove Dangling Images

configure serilog
  Software/SPM_MQTT/MQTT.Broker/MQTT.Broker.csproj
  Software/SPM_MQTT/MQTT.Broker/Program.cs
  Software/SPM_MQTT/MQTT.Broker/Worker.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

fix error
  Software/SPM_MQTT/MQTT.Broker/Program.cs
Due: Build and Deploy SPM_MQTT, Remove Dangling Images

configure serilog
  Software/SPM.Api/SPM.Api/Program.cs
  Software/SPM.Api/SPM.Api/SPM.Api.csproj
Due: Build and Deploy SPM.Api, Remove Dangling Images

update loglevel
  Software/SPM.Api/SPM.Api/appsettings.json
Due: Build and Deploy SPM.Api, Remove Dangling Images

update logger
  Software/SPM.Api/SPM.Api/appsettings.json
Due: Build and Deploy SPM.Api, Remove Dangling Images

added cutomer id
  Software/second_site/src/app/features/users/users.component.html
Due: Build and Deploy second_site, Remove Dangling Images

added admin dashboard data
  Software/second_site/src/app/auth/sign-in/sign-in.component.ts
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/features/users/users.component.html
  Software/second_site/src/app/features/users/users.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

admin dashboard energy consumption data
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.ts
  Software/second_site/src/app/services/api.service.ts
Due: Build and Deploy second_site, Remove Dangling Images

add exception middleware
  Software/SPM.Api/SPM.Api/Middlewares/ExceptionMiddleware.cs
  Software/SPM.Api/SPM.Api/Program.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Account/CustomerAccountService.cs
  Software/SPM.Api/SPM.Api/Services/Customer/Relay/CustomerRelayService.cs
  Software/SPM.Api/SPM.Api/Services/MQTT/MQTTService.cs
Due: Build and Deploy SPM.Api, Remove Dangling Images

improvments
  Software/second_site/src/app/features/dashboard/dashboard.component.html
  Software/second_site/src/app/features/dashboard/dashboard.component.ts
  Software/second_site/src/app/features/dashboard/funds-overview/funds-overview.component.ts
Due: Build and Deploy second_site, Remove Dangling Images

Path conditions:
  Nginx: any of: Software/Nginx/**
  Build and Deploy second_site: any of: Software/second_site/**
  Build and Deploy SPM_MQTT: any of: Software/SPM_MQTT/**
  Build and Deploy SPM.Api: any of: Software/SPM.Api/**
  Remove Dangling Images: ((any of: Software/second_site/**) or (any of: Software/SPM_MQTT/**)) or (any of: Software/SPM.Api/**)
